/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b74c5ada-yrdkdaje version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-divider  {
		
						margin-bottom: 5px;
						
						margin-top: 5px;
						
						width: 10%;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje  .preview-content-holder  {
		
						padding-right: 0px;
						
						text-align: center;
						
						max-width: 600px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						font-family: Arial;
						
						margin-top: 10px;
						
						line-height: 1.5em;
						
						margin-bottom: 10px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-divider  {
		
						width: 100%;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .inner-pic  {
		
		    			-webkit-filter:none;filter:none;
						background-size: contain;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje #pagination-holder  {
		
						font-family: Times New Roman;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 1px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .background-div  {
			
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-title  ,  .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-body h1  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-bottom: 0px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-item-links span  ,  .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje #sr-basket-widget *  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgb(0, 0, 0);
							
		}
	
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .stripe-background  {
		
						opacity: 0.5;
						
						margin-top: -30px;
						
						margin-left: -6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 15px;
						
						padding-left: 0px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-subtitle  {
		
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje  .preview-content-wrapper  {
		
						vertical-align: middle;
						
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-item-links span:hover  ,  .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-item-links span:before  ,  .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-title  {
		font-size:calc( 10px + ( 40rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(182, 155, 19);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
							
		}
	
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(48, 48, 48);
						
						max-width: 400px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						padding-bottom: 5px;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 17px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-subtitle  ,  .style-37834e93-vd4jwh8q .style-b74c5ada-yrdkdaje .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-37834e93-slnmwkb8 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 750px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 45px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-divider  {
		
						margin-bottom: 20px;
						
						border-bottom-width: 7px;
						
						margin-top: 10px;
						
						border-color: rgb(202, 202, 202);
						
						width: 15%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .inner-pic  {
		
						color: rgb(255, 255, 255);
						
						opacity: 0.95;
						
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-form .Field  {
		
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(9, 9, 9);
						
						max-width: 500px;
						
						padding-right: 10px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						border-width: 0px;
						
						background-color: rgb(101, 101, 101);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-form .Field:hover  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(230, 230, 230);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-form .Field:not(.placeholder-mode):not(.no-value):not(:hover)  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .background-div  {
		
						opacity: 0.4;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-title  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 24rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(227, 163, 36);
						
						letter-spacing: 0.0em;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-item-links span  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 #sr-basket-widget *  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgba(250, 250, 250, 0.941176);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 20px;
						
						margin-bottom: 10px;
						
						border-width: 1px;
						
						background-color: rgb(227, 163, 36);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-bottom: 5px;
						
						margin-top: 5px;
						
						width: 110px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-form .Field.no-value:not(:hover)  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(202, 202, 202);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-item-links span:before  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .effect-tester  { 
						background-color: rgb(80, 80, 80);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-item-links span:hover  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .field-holder  {
			
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .middle_layout .helper-div  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-subtitle  ,  .style-37834e93-vd4jwh8q .style-37834e93-slnmwkb8 .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 30px;
						
						line-height: 1.1em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-37834e93-slnmwkb8 #vbid-37834e93-bidaca62.inner-pic{
				
							background-position : 48.4326% 70.7436%;
					
				}


























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7407bed3-bkegv8pu version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu  .preview-content-holder  {
		
						text-align: center;
						
						background-color: rgba(230, 210, 80, 0);
						
						max-width: 350px;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						width: 15%;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .inner-pic  {
		
						opacity: 1;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-subtitle-holder  {
		
						max-width: 650px;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .background-div  {
			
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu.master.item-box   {
		
						background-color: rgb(37, 37, 37);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-title  ,  .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgba(251, 251, 251, 0.772549);
						
						margin-top: 15px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-item-links span  ,  .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgba(251, 251, 251, 0.760784);
						
						border-color: rgb(119, 118, 117);
						
						margin-top: 15px;
						
						border-radius: 0px;
						
						margin-bottom: 15px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 60px;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-item-links span:before  ,  .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .effect-tester  { 
						background-color: rgb(189, 189, 189);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-item-links span:hover  ,  .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-body  {
		
						color: rgba(254, 252, 252, 0.611765);
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 1000px;
							
		}
	
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-social-holder  {
		
						margin-bottom: 0px;
						
						margin-top: 35px;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .middle_layout .helper-div  ,  .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-subtitle  ,  .style-37834e93-vd4jwh8q .style-7407bed3-bkegv8pu .preview-body h2  { 
						color: rgba(159, 159, 159, 0.76);
						font-size:calc( 10px + ( 19rem - 10rem ) );
						font-family: Montserrat;
						
						margin-top: 20px;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-7407bed3-bkegv8pu #vbid-7407bed3-g1gs0l7w.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-7407bed3-bkegv8pu #vbid-7407bed3-o2baedgr.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-7407bed3-bkegv8pu #vbid-7407bed3-jin9trrl.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-7407bed3-bkegv8pu #vbid-7407bed3-9ge43j33.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				}






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-37834e93-sklsrlbh version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .background-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-title  ,  .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-body h1  { font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-right: 20px;
						
						margin-top: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Abel;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-link-img  {
		
						width: 30px;
						
						margin: 19px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .inner-pic-holder  {
		
						background-color: rgb(227, 163, 36);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh  .preview-content-holder  {
		
						text-align: center;
						
						margin-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-item-links span  ,  .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh #sr-basket-widget *  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						padding-right: 25px;
						
						margin-top: 15px;
						
						padding-left: 25px;
						
						padding-top: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
						
						background-color: rgb(37, 37, 37);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-item-links span:hover  ,  .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-element.Link.hover-tester  { 
						background-color: rgb(0, 0, 0);
						
						color: rgb(227, 163, 36);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						padding-left: 0px;
						
						margin-bottom: 10px;
						
						width: 100px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .middle_layout .helper-div  ,  .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-subtitle  ,  .style-37834e93-vd4jwh8q .style-37834e93-sklsrlbh .preview-body h2  { 
						font-family: Oswald;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-37834e93-vjtovs3d version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d.master.item-box   {
		
						position: relative;
						
						background-color: rgb(80, 80, 80);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-item-links span:hover  ,  .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-item-links span  ,  .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d #sr-basket-widget *  { font-size:calc( 10px + ( 21rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(182, 155, 19);
						
						padding-bottom: 20px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 20px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-title  ,  .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(232, 232, 232);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-left: 10px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-item-links span:before  ,  .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 70px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .middle_layout .helper-div  ,  .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-subtitle  ,  .style-37834e93-vd4jwh8q .style-37834e93-vjtovs3d .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-37834e93-mbepqkwt version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .title-holder  {
		
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .Title  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt  .preview-content-holder  {
		
						margin-right: 20px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 20px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						border-color: rgb(60, 60, 60);
						
						padding-left: 0px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -3%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .multi_layout .helper-div.middle-center  {
		
						padding-left: 3%;
						
						width: 94%;
						
						padding-right: 3%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .background-div  {
			
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt.master.item-box   {
		
						background-color: rgb(37, 37, 37);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-title  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(202, 202, 202);
						
						letter-spacing: 0em;
						
						margin-top: 10px;
						
						font-family: Raleway;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-item-links span  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(129, 129, 129);
						
						padding-bottom: 10px;
						
						border-color: rgb(122, 122, 122);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .blocks-preview-body  {
		
						color: rgb(255, 255, 255);
						
						margin-top: 15px;
						font-size:calc( 10px + ( 14rem - 10rem ) );	
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .stripe-background  {
		
						opacity: 0.39;
						
		    			-webkit-filter: brightness(0.8);
						margin-top: -40px;
						
						margin-left: 0%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-bottom: 10px;
						
						width: 60px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .blocks-preview-content-holder  {
		
						margin-bottom: 30px;
						
						margin-top: 55px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .Subtitle  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .blocks-preview-subtitle  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-icon-holder  {
		
		    			-webkit-filter: invert(0%);filter: invert(0%);	
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-item-links span:hover  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .blocks-preview-title  {
		
						color: rgb(255, 255, 255);
						font-size:calc( 10px + ( 26rem - 10rem ) );
						text-transform: uppercase;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 500px;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .pic-side:after  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .item-effect-tester  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .sub.item-box:after  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-subtitle  ,  .style-37834e93-vd4jwh8q .style-37834e93-mbepqkwt .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(188, 188, 188);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						font-family: Abel;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-37834e93-p0cfovwi version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 650px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(230, 210, 80, 0);
						
						padding-left: 0px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 15%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .inner-pic  {
		
						opacity: 0.96;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-subtitle-holder  {
		
						max-width: 650px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .background-div  {
			
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-title  ,  .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 40rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(227, 163, 36);
						
						letter-spacing: 0.0em;
						
						margin-top: 25px;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-item-links span  ,  .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						padding-right: 30px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 5px;
						
						margin-top: 25px;
						
						padding-left: 30px;
						
						border-radius: 22px;
						
						padding-top: 20px;
						
						margin-bottom: 25px;
						
						border-width: 0px;
						
						background-color: rgb(227, 163, 36);
						
						margin-left: 5px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .stripe-background  {
		
						opacity: 0.61;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-element.icon-source  {
		
						width: 160px;
						
						margin-bottom: 15px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .background-image-div  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-link-img  {
		
						width: 41px;
						
						margin: 6px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-item-links span:hover  ,  .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(101, 101, 101);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0.32);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-item-links span:before  ,  .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .effect-tester  { 
						background-color: rgb(80, 80, 80);
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 30px;
						
						margin-bottom: 30px;
						
						line-height: 1.6em;
							
		}
	
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .middle_layout .helper-div  ,  .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-subtitle  ,  .style-37834e93-vd4jwh8q .style-37834e93-p0cfovwi .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-37834e93-p0cfovwi #vbid-37834e93-3binry2p .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-f3e56812-yg8vyzqo .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-bqsppf8z .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-h7spa78v .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-tjxjka8z .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-dgce07no .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-zcfdbcvg .preview-content-holder{
				
							text-align : left;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-fynow1lc .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-l1dbp4jh .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-390ca478-uak80ex7 .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-ywcaol97 .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-drhsgswy .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-nyzlzuyj .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-q7u8gvxh .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-afgkbkak .preview-content-holder{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-jarb4hoe .preview-content-holder{
				
							text-align : center;
					
				}


 .style-37834e93-p0cfovwi #vbid-37834e93-zwef7xu3.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-dzjkhnvr.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-hkgvh74h.inner-pic{
				
							background-position : 45.5068% 38.9316%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-zyomdgiq.inner-pic{
				
							background-position : 44.4619% 25.4274%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-ry5eezz8.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-qypauq3b.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-vpuqlaic.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-wpevybc4.inner-pic{
				
							background-position : 51.7764% 40.3226%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-luoybyk5.inner-pic{
				
							background-position : 50.4775% 65.6531%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-rai60rv7.inner-pic{
				
							background-position : 52.9258% 100%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-hnrdtlfv.inner-pic{
				
							background-size : 143%;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-nuxfhrp7.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				}













 .style-37834e93-p0cfovwi #vbid-37834e93-3binry2p .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-f3e56812-yg8vyzqo .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-bqsppf8z .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-h7spa78v .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-tjxjka8z .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-dgce07no .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-zcfdbcvg .preview-content-wrapper{
				
							text-align : left;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-fynow1lc .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-l1dbp4jh .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-390ca478-uak80ex7 .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-ywcaol97 .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-drhsgswy .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-nyzlzuyj .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-q7u8gvxh .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-afgkbkak .preview-content-wrapper{
				
							text-align : center;
					
				} .style-37834e93-p0cfovwi #vbid-37834e93-jarb4hoe .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-37834e93-vd4jwh8q version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-37834e93-vd4jwh8q .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-37834e93-vd4jwh8q .Subtitle  ,  .master .style-37834e93-vd4jwh8q .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-37834e93-vd4jwh8q .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-37834e93-vd4jwh8q .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-37834e93-vd4jwh8q .Title  ,  .master .style-37834e93-vd4jwh8q .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-37834e93-vd4jwh8q .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-37834e93-vd4jwh8q .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-37834e93-vd4jwh8q .raw-wrapper  {
		
						background-color: rgb(227, 163, 36);
							
		}
	 .master .style-37834e93-vd4jwh8q .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-37834e93-vd4jwh8q .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-37834e93-vd4jwh8q .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-37834e93-vd4jwh8q .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-37834e93-vd4jwh8q.master.container > #children  {
		
						background-color: rgb(227, 163, 36);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: jaf-bernino-sans;
				
						letter-spacing: -0.05em;
				
						line-height: 1.3em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						border-width: 0px;
				
						font-family: Abel;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Abel;
				
						line-height: 1.5em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.05em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(227, 163, 36);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}